<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Crear campo - Detector Granizo</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/createField.css">
    <link rel="stylesheet" href="/static/css/dashboard.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
</head>
<body>

<div class="container">
    <h2>Nuevo campo</h2>

    <form id="field-form">

        <div class="top-row">
            <input 
                type="text" 
                id="field-name" 
                placeholder="Nombre del campo" 
                required
            >

            <div class="buttons">
                <button type="submit" class="btn-save">Guardar campo</button>
                <button type="button" class="delete-btn" onclick="window.location.href='/main'">Cancelar</button>
            </div>
        </div>

        <div class="info-box">
            <div class="info-col">
                <span class="label">Área</span>
                <span class="value"><span id="area">0,0</span> m²</span>
            </div>

            <div class="divider"></div>

            <div class="info-col">
                <div class="field-status status-open" id="roof-status" style="margin-top: 3px; min-width: 120px;">
                    Abierto
                </div>
            </div>

            <div class="divider"></div>

            <div class="info-col">
                <span class="label">Municipio</span>
                <span class="value" id="field-location">–</span>
            </div>
        </div>

        <div id="map" style="height: 400px;"></div>

    </form>

    <a href="/main" class="link">Volver al Dashboard</a>
</div>

<!-- Leaflet y Turf -->
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@turf/turf@6/turf.min.js"></script>
<script src="https://unpkg.com/topojson@3"></script>

<script>
    const currentUserId = {{ user.id }};
</script>
<script src="/static/js/createField.js"></script>


</body>
</html>
