<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% if field %}Editar{% else %}Crear{% endif %} terreno - Detector Granizo</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/field.css">
    <link rel="stylesheet" href="/static/css/dashboard.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    
</head>
<body>

<div class="container">
    <h2>{% if field %}Editar{% else %}Nuevo{% endif %} terreno</h2>

    <form id="field-form">
        <div class="top-row">
            <input type="text" id="field-name" name="name" placeholder="Nombre del campo" value="{{ field.name if field else '' }}" required>
            <div class="buttons">
                <button type="submit" class="btn-save">{% if field %}Guardar cambios{% else %}Guardar terreno{% endif %}</button>
                <button type="button" class="delete-btn" id="delete-field-btn" {% if not field %}disabled{% endif %}>Eliminar terreno</button>
            </div>
        </div>

        <div class="info-box">
            <div class="info-col">
                <span class="label">Área</span>
                <span class="value"><span id="area">{{ field.area_m2 if field else '0,0' }}</span> m²</span>
            </div>
            <div class="divider"></div>
            <div class="info-col">
                <div class="field-status status-{{ field.state if field else 'open' }}" id="roof-status" style="margin-top: 3px; min-width: 120px;">
                    {% if field %}
                        {% if field.state == "open" %}Abierto{% else %}Cerrado{% endif %}
                    {% else %}
                        Abierto
                    {% endif %}
                </div>
            </div>
            <div class="divider"></div>
            <div class="info-col">
                <span class="label">Municipio</span>
                <span class="value" id="field-location">{{ field.municipality if field else '–' }}</span>
            </div>
        </div>

        <div id="map" style="height: 400px;"></div>

        {% if field %}
        <h2>Tiempo</h2>
        <h4>Hoy</h4>
        <div id="weather-actual-info" class="weather-grid">
            <div class="weather-summary">
                <div class="weather-icon">
                    <img id="weather-icon" src="" alt="Estado">
                </div>
                <div id="weather-description" class="weather-description"></div>
            </div>

            <div class="weather-card weather-temp-block temperature-grid">
                <div class="temp-actual">
                    <span id="temp-actual">-- ºC</span>
                </div>
                <div class="temp-max">
                    <img src="/static/img/maxTemp.png" alt="MaxTemperature" class="img-minmax">
                    <span id="temp-max">-- ºC</span>
                </div>
                <div class="temp-min">
                    <img src="/static/img/minTemp.png" alt="MinTemperature" class="img-minmax">
                    <span id="temp-min">-- ºC</span>
                </div>
            </div>

            <div class="weather-card weather-precip-grid">
                <div class="rain">
                    <img src="/static/img/rain.png" alt="Rain" class="img-precip">
                    <span id="rain">-- mm</span>
                </div>
                <div class="hail">
                    <img src="/static/img/hail.png" alt="Hail" class="img-precip">
                    <span id="hail">--%</span>
                </div>
                <div class="snow">
                    <img src="/static/img/snow.png" alt="Snow" class="img-precip">
                    <span id="snow">-- cm</span>
                </div>
            </div>

            <div class="weather-card weather-extra-grid">
                <div class="wind">
                    <img src="/static/img/wind.png" alt="Wind" class="img-precip" id="wind-icon">
                    <span id="wind">-- km/h</span>
                </div>
                <div class="dew">
                    <span id="dew">Punto rocio: -- ºC</span>
                </div>
                <div class="humidity">
                    <span id="humidity">Humedad: -- %</span>
                </div>
                <div class="moisture">
                    <span id="moisture">Humedad de la tierra: -- %</span>
                </div>
            </div>

            <div class="weather-municipio-block">
                <span id="municipio">---</span>
            </div>

            <div class="weather-card weather-sun-block">
                <div class="sun-times">
                    <div class="sun-side">
                        <img src="/static/img/sunrise.png" alt="Sunrise">
                        <span id="sunrise" class="sunrise-sunset">--:--</span>
                    </div>

                    <div class="sun-bar-wrapper">
                        <div class="sun-bar">
                            <div id="sun-progress" class="sun-progress"></div>
                            
                            <div class="sun-marker marker-25">
                                <div class="marker-line-5"></div>
                                <div class="marker-time-5" id="sun-25">--:--</div>
                            </div>

                            <div class="sun-marker marker-50">
                                <div class="marker-line-0"></div>
                                <div class="marker-time-0" id="sun-50">--:--</div>
                            </div>

                            <div class="sun-marker marker-75">
                                <div class="marker-line-5"></div>
                                <div class="marker-time-5" id="sun-75">--:--</div>
                            </div>

                            <div id="sun-indicator" class="sun-indicator"></div>
                        </div>
                    </div>

                    <div class="sun-side">
                        <img src="/static/img/sunset.png" alt="Sunset">
                        <span id="sunset" class="sunrise-sunset">--:--</span>
                    </div>
                </div>
            </div>
        </div>
        <h4>Próximos 4 días</h4>
        <div class="forecast-grid">
            {% for i in range(1, 5) %}
            <div class="forecast-card">

                <div class="forecast-day" id="day-{{ i }}-name"></div>

                <img id="day-{{ i }}-icon" class="forecast-main-icon">

                <div class="information-grid">
                    <div class="temp-max-info">
                        <img src="/static/img/maxTemp.png" class="forecast-small-icon">
                        <span id="day-{{ i }}-max" class="forecast-data-col"></span>
                    </div>

                    <div class="temp-min-info">
                        <img src="/static/img/minTemp.png" class="forecast-small-icon">
                        <span id="day-{{ i }}-min" class="forecast-data-col"></span>
                    </div>

                    <div class="sunrise-info">
                        <img src="/static/img/sunrise.png" class="forecast-small-icon">
                        <span id="day-{{ i }}-sunrise" class="forecast-data-col"></span>
                    </div>

                    <div class="sunsine-info">
                        <img src="/static/img/sunset.png" class="forecast-small-icon">
                        <span id="day-{{ i }}-sunset" class="forecast-data-col"></span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        <input type="hidden" id="field-id-hidden" name="field_id" value="{{ field.id if field else '' }}">
        <input type="hidden" id="field-area-hidden" name="area" value="{{ field.area_m2 if field else '0' }}">
        <input type="hidden" id="field-municipality-hidden" name="municipality" value="{{ field.municipality if field else '' }}">
        <input type="hidden" id="field-points-hidden" name="points" value='{{ points_json if points_json else "[]" }}'>
    </form>

    <a href="/main" class="link">Volver</a>
</div>

<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@turf/turf@6/turf.min.js"></script>
<script type="module" src="/static/js/field.js"></script>
<script src="/static/js/weather.js"></script>
</body>
</html>
