<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Iniciar Sesión</title>
  <link rel="stylesheet" href="../static/style.css">
</head>
<body>
  <div class="container-center">
    <div class="card">
      <h2>Iniciar Sesión</h2>
      <form action="main.html" method="get">
        <input type="text" name="username" placeholder="Usuario" required>
        <input type="password" name="password" placeholder="Contraseña" required>
        <button type="submit">Ingresar</button>
      </form>
      <a class="link" href="register.html">¿No tienes cuenta? Regístrate</a>
    </div>
  </div>
</body>
</html>
